<div class="row">
	<div class="col-md-4">
		<%= image_tag @picture.file_image.url(:image_show), class: "picture-show" %>
	</div>
	<div class="col-md-8">
		<div class="picture-info">>
		<h2 class="picture-title"><%= @picture.title %></h2>
		<h3 class="picture-desc"><%= @picture.description %></h3>
		</div>
	</div>
</div>
<div class="links btn-group">
	<%= link_to "Back", root_path, class: "btn btn-custom" %>
	<% if user_signed_in? %>
		<% if @picture.user_id == current_user.id %>
			<%= link_to "Edit", edit_picture_path(@picture), class: "btn btn-custom" %>
			<%= link_to "Delete", picture_path(@picture), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-custom" %>
		<% end %>
	<% end %>
</div>